
<% include header %>
<div class="row">
    <div class="col-lg-12 col-xs-12">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Dave">Dave</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Prady">Prady</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Saroj">Saroj</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Gang">Gangadhar</a></li>
        </ul>
        <div class="tab-content">
            <div id="Dave" class="tab-pane active">
              <main>
            
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Main section goes here -->
                        <article>
                            <h2>A little info about me</h2>
                            <!-- Article content goes here -->
                            <section id="current-section">
                                <!-- Section 1 content goes here -->
                                <h2  class="section-header">Where I'm now</h2>
                                <p>
                                        Hello everyone, I am currently a Junior working on my computer science degree. I have some experience with programming from high school but barely any experience with web-side applications and front-end design. I am currently interested in reverse engineering and exploitation.
                                </p>
                            </section>
                            <section id="past-section">
                                <!--Section 2 content goes here -->
                                <h2  class="section-header">Where I was</h2>
                                <p>
                                        My hometown is in Urumqi, China. I have a lot of experience working with software development and computationally interesting problems. Since I have just attended DefCon this summer, my main interests this year is in breaking things apart and understanding them.
                                </p>
                            </section>
                            <section id="future-section">
                                <!-- Section 3 content goes here -->
                                <h2  class="section-header">Where I will be</h2>
                                <p>
                                        I'm not too sure about my plans for the future. Some of the ideas I have for the future are creating a "as-a-service" software and monetizing it; penetration testing consulting; and teaching software engineering.
                                </p>
                            </section>
                        </article>
                    </div>
                </div>
            </main>

            </div>
            <div id="Prady" class="tab-pane">
                <main>
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Main section goes here -->
                            <article>
                                <h2>A little info about me</h2>
                                <!-- Article content goes here -->
                                <section id="current-section">
                                    <!-- Section 1 content goes here -->
                                    <h2  class="section-header">As of now</h2>
                                    <p>
                                        I have just joined NW this fall, as a graduate for <strong>Applied Computer Sciences</strong> course.
                                    </p>
                                </section>
                                <section id="past-section">
                                    <!--Section 2 content goes here -->
                                    <h2  class="section-header">A few months back</h2>
                                    <p>
                                        I am from Hyderabad, a city in India. I have graduated from VIT university as a Master of Science in Software Engineering, in the year 2015. I have been working for an MNC "<strong>Infosys Pvt. Ltd.</strong>", as a <strong>UI / UX Developer and Designer</strong> till date.
                                    </p>
                                </section>
                                <section id="future-section">
                                    <!-- Section 3 content goes here -->
                                    <h2  class="section-header">A couple of years later</h2>
                                    <p>
                                        I hope to become a full stack developer one day. In order to get there, I need some extra skills. I hope enrolling into this course would give me enough exposure and help me out achieving my goal. 
                                    </p>
                                </section>
                            </article>
                        </div>
                    </div>
                </main>
            </div>
            <div id="Saroj" class="tab-pane">
              <h3>Saroj</h3>
              <p>Some content in menu 2.</p>
            </div>
            <div id="Gang" class="tab-pane">
                <h3>Gangadhar</h3>
                <p>Some content in menu 2.</p>
              </div>
          </div>
    </div>
    <div class="col-lg-12 col-xs-12">
        
    </div>
</div>
<% include footer %>