<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="firstName">First name</label>
        <div class="inputWrapper">
            <input type="text" class="form-control" id="firstName" required aria-required="true" placeholder="first name goes here">
            <span><i class="fa fa-user" aria-hidden="true"></i></span>
        </div>
    </div>
      <div class="form-group">
        <label for="orderDate">orderDate</label>
        <input type="text" class="form-control" id="orderDate" name="orderDate" value="<%= orders.orderDate %>">
      </div>
      <div class="form-group">
        <label for="product_ID">product ID</label>
        <input type="number" class="form-control" id="product_ID" name="product_ID" value="<%= orders._productid %>">
      </div>
      <div class="form-group">
        <label for="customer_ID">customer ID</label>
        <input type="number" class="form-control" id="customer_ID" name="customer_ID" value="<%= orders._customerid %>">
      </div>
      <div class="form-group">
        <label for="Total_amount">Total amount</label>
        <input type="number" class="form-control" id="Total_amount" name="Total_amount" value="<%= orders.totalAmount %>" required>
      </div>
    </div>
  </div>
  <hr>
  